h1 {
  font-family: 'Lobster', cursive;
}
body{
  background: linear-gradient(#615dad, #ffc8da);
  color: white;
  margin-bottom: 0px;
  height: 1000px;
  max-width: 380px;
  margin: auto;
    }

p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
 img{
  width: 100%;
 }

.picture{
  width: 380px;
  margin-bottom: 0px;
}

.piskvorky {
  text-align: center;
  background-color: #283e50;
  padding: 20px;
  margin: 0px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 100px;
}

.rules{
    background-color:#bb9e1c;
    width: 380px;
    height: 30px;
    margin: 0px;
}

a{
font-family: Arial, Helvetica, sans-serif;
color: white;
text-decoration: none;
}


a:hover {
  background: #1cbb96;
  color: white;
}

